/* Global Styles */
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

/* Header Styles */
.header {
  color: #37447E;
  font-size: 50px;
  font-weight: 500;
  line-height: 66px;
  letter-spacing: 1px;
}

/* Content Section Styles */
.content-section {
  color: #505F98;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
}

/* Profiteer Section Styles */
.profiteer-section {
  color: #37447E;
  font-size: 26px;
  font-weight: 900;
  line-height: 38px;
}

/* Navigation Section Styles */
.navigation-section {
  color: #505F98;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

/* Gamified Section Styles */
.gamified-section {
  color: #091133;
  font-size: 36px;
  font-weight: 500;
  line-height: 48px;
}

/* Gamified Text Styles */
.gamified-text {
  color: #6F7CB2;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

/* Connect With Friends Section Styles */
.connect-section {
  color: #091133;
  font-size: 36px;
  font-weight: 500;
  line-height: 48px;
}

/* Connect With Friends Text Styles */
.connect-text {
  color: #6F7CB2;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

/* Additional Text Styles */
.additional-text {
  color: #5D6970;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

/* Title Styles */
.title-section {
  color: #091133;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
}

/* Customizable Dashboards Section Styles */
.dashboard-section {
  color: #5D6970;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

/* Meet Your Financial Goals Section Styles */
.goals-section {
  color: #091133;
  font-size: 36px;
  font-weight: 500;
  line-height: 48px;
}

/* Meet Your Financial Goals Text Styles */
.goals-text {
  color: #6F7CB2;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
}

/* Footer Styles */
.footer {
  color: #939EA4;
  font-size: 14px;
  font-weight: 500;
  line-height: 24px;
}

/* Navigation Link Styles */
.nav-link {
  text-decoration: none;
  color: #929ECC;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}

/* Sign Up Styles */
.sign-up {
  color: #111B47;
  font-size: 12px;
  font-weight: 500;
  line-height: 18px;
}
