/* LandingPage.css */

.landing-page-container {
    width: 100%;
    height: 100%;
    position: relative;
    background: white;
  }
  
.main-image {
    width: 1436px;
    height: 918px;
    left: 0;
    top: 0;
    position: absolute;
}

.content-container {
    width: 530.49px;
    height: 242px;
    left: 203px;
    top: 462px;
    position: absolute;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.title {
    width: 686px;
    height: 79px;
    color: #37447E;
    font-size: 50px;
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 66px;
    letter-spacing: 1px;
    word-wrap: break-word;
}

.description {
    width: 539px;
    color: #505F98;
    font-size: 18px;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 30px;
    word-wrap: break-word;
}

.logo-container {
    left: 681px;
    top: 12px;
    position: absolute;
    justify-content: flex-end;
    align-items: center;
    display: inline-flex;
}

.logo {
    color: #37447E;
    font-size: 26px;
    font-family: 'Roboto';
    font-weight: 900;
    line-height: 38px;
    word-wrap: break-word;
}

.navbar-container {
    width: 1113;
    height: 24;
    left: 165;
    top: 18;
    position: 'absolute'
}

.home-button {
    color: '#505F98';
    left: 0;
    right: 0;
    font-size: 14;
    font-family: 'Roboto';
    font-weight: '400';
    line-height: 24;
    word-wrap: 'break-word'
}


.about-button {
    color: '#505F98';
    left: 121;
    right: 0;
    font-size: 14;
    font-family: 'Roboto';
    font-weight: 400;
    line-height: 24;
    word-wrap: break-word;
}

/* LoginButton.css */

.login-button-container {
    width: 100%;
    height: 100%;
    position: relative;
  }
  
  .login-button-background {
    width: 68px;
    height: 24px;
    left: 0;
    top: 0;
    position: absolute;
    background: #111B47;
    border-radius: 2px;
  }
  
  .login-button-text {
    width: 62px;
    height: 18px;
    left: 2px;
    top: 3px;
    position: absolute;
    text-align: center;
    color: white;
    font-size: 12px;
    font-family: 'Roboto';
    font-weight: 500;
    line-height: 18px;
    word-wrap: break-word;
  }
  
